name: Automated Preprocessing Pipeline

permissions:
  contents: write
  
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install pandas numpy scikit-learn

    - name: Run preprocessing pipeline
      run: |
        python automate_Jamila_Farhana.py

    - name: Commit processed dataset
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add data/processed/breast-cancer_processed.csv
        git commit -m "Update processed dataset (automated preprocessing)" || echo "No changes to commit"
        git push
